:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --font-primary: 'Lexend Deca', sans-serif; 
    --font-secondary: 'Big Shoulders Display', sans-serif; 
    --font-weight-regular: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box; /* Default for desktop */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}

.column {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 4rem;
    color: var(--very-light-gray);
}

.row {
    display: flex;
}

.sedan-column {
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suv-column {
    background-color: var(--Dark-cyan);
}

.luxury-column {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 70%;
    background-color: white;
    color: blue;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: var(--font-weight-bold);
    margin-top: 4rem;
}

.sedan-column button {
    color: var(--Bright-orange);
}

.suv-column button {
    color: var(--Dark-cyan);
}

.luxury-column button {
    color: var(--Very-dark-cyan);
}

h2 {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-primary);
    font-size: 15px;
    color: var(--transparent-white);
    line-height: 1.8;
}

@media (max-width: 375px) {
    
    .row {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0; 
    }


    .column {
        width: calc(100% - 40px); 
        padding: 3rem;
    }

    .sedan-column {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .luxury-column {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    button {
        width: 70%;
        padding: 15px;
        font-size: 1rem;
    }
}